  /*
Colores
  dark-purple: hsl(300, 43%, 22%)
  pink:hsl(333, 80%, 67%)
  purple: hsl(303, 10%, 53%)
  soft-white: hsl(300, 24%, 96%)
  background-color: hsl(0, 0%, 90%);
Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/

  * {
      box-sizing: border-box;
  }

  body {
      background-color: hsl(0, 0%, 90%);
      font-family: 'Karla', sans-serif;
      width: 1400px;
      margin: 10em auto;
  }

  .bg-image {
      position: absolute;
      z-index: -1;
  }

  .bg-image--top {
      top: 0;
      left: 0;
  }

  .bg-image--bottom {
      bottom: 0;
      right: 0;
  }

  .header,
  .aside {
      display: inline-block;
      width: 450px;
  }

  .header {
      margin-right: 400px;
  }

  .main-title {
      font-size: 3rem;
      color: hsl(300, 43%, 22%);
  }

  .rate {
      position: relative;
      margin-bottom: 1em;
      padding: 0 2em;
      border-radius: 10px;
      line-height: 5em;
      background-color: hsl(300, 24%, 96%);
  }

  .rate--first{
      left: -75px;
  }

  .rate--second{
      left: -50px;
  }